.slideshow-container {
  position: relative;
  width: 100%;
  /* height: 400px;  */
  overflow: hidden;
  border-radius: 10px;
  border-left: 1px solid #665af0;
  border-right: 1px solid #665af0;
  aspect-ratio: 16 / 9;
}

.slide11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  object-fit: cover;
}

.slide11.active11 {
  opacity: 1;
  z-index: 1;
}
