/* experience.css */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@400;700&display=swap');

.experience-container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.experience-container h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #333;
  margin-bottom: 30px;
  font-family: 'Lexend Giga', sans-serif;
  /* text-shadow: 
  1px 1px 0px rgba(255, 255, 255, 0.7), 
  -1px -1px 0px rgba(0, 0, 0, 0.4),
  1px -1px 0px rgba(0, 0, 0, 0.3),
  -1px 1px 0px rgba(255, 255, 255, 0.3); */


}

.experience-list {
  margin-top: 20px;
  background-color: transparent;
}

.experience-card {
  /* background-color: #ffffff; */
  width: 80%;
  border-radius: 20px;
  margin:  0 auto;
  padding: 25px;
  margin-bottom: 25px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;


  cursor: pointer;

}


.experience-card:hover {
  transform: translateY(-5px); /* Slight lifting effect */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1); /* Enhanced shadow on hover */
}

.experience-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 8px;
  font-weight: 600;
}

.company-name {
  font-size: 1.1rem;
  color: #5e72e4;
  margin-bottom: 8px;
  font-style: italic;
}

.duration {
  font-size: .875rem;
  color: #777;
  margin-bottom: 15px;
}

.description {
  /* font-size: 1.1rem; */
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

/* Dark mode adjustments */
.navbar-dark .experience-card {
  background-color: #1e1e2f;
  color: #fff;
  /* border-left: 5px solid #4493f8;  */
    border-left: 8px solid #665af0; 
}
/* .experience-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 97%;
  background: linear-gradient(to bottom, #4493f8, #665af0);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
} */
.navbar-dark h3 {
  color: #fff;
}

.navbar-dark .company-name {
}

.navbar-dark .duration,
.navbar-dark .description {
  color: #e0e0e0;
}

/* Light mode adjustments */
.navbar-light .experience-card {
  background-color: #ffffff;
  color: #333;
  border-left: 5px solid #4493f8; /* Accent color in light mode */
}

.navbar-light h3 {
  color: #333;
}

.navbar-light .company-name {
  color: #4493f8 /* Accent color in light mode */
}

.navbar-light .duration,
.navbar-light .description {
  color: #555;
}

