
  .loading-screen {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* padding: 1rem; */
    position: fixed;
    width: 100%;
    font-family: 'Courier New', Courier, monospace; 
    height: 120vh;
    background-color: black;
  }
  
  .loading-terminal {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: #4493f8;
    font-size: 14px;
    border-radius: 8px;
    /* box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.5); */
    max-width: 800px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  
  .cursor {
    display: inline-block;
    width: 10px;
    height: 16px;
    background-color: #4493f8;
    animation: blink 0.3s infinite .5s;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  