html{
  scroll-behavior: smooth;
}
.body{
  min-height: 100vh;
  scroll-behavior: smooth;
  /* background-color: /; */
}
.body {
  padding-top: 3.5rem; /* Adjust based on the navbar height */
  
}
/*  */
section{
  margin: 2rem auto;
  max-width:75vw ;
  scroll-snap-align: start; 
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.297);
  border-radius: 1rem;
}
@media (max-width: 768px) {
  section{
    min-width: 100%;
  }
}



