html{
  scroll-behavior: smooth;
}
.body{
  min-height: 100vh;
  scroll-behavior: smooth;

}
.body {
  padding-top: 3.5rem; /* Adjust based on the navbar height */
  
}
/*  */
section{
  margin: 2rem auto;
  max-width:75vw ;
  scroll-snap-align: start; 
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.297);
  border-radius: 1rem;
}

.back-to-top-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #1a1a1abd;
  /* background-color: red; */
  color: #fff;
  border: none;
  padding: 12px 16px;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.back-to-top-btn.visible {
  opacity: 0.9;
  pointer-events: auto;
}

.back-to-top-btn:hover {
  opacity: 1;
}

.back-to-top-btn.hidden {
  opacity: 0;
  pointer-events: none;
}


@media (max-width: 768px) {
  section{
    min-width: 100%;
  }
  .back-to-top-btn {
    right: 10px;
    bottom: 10px;
  }
}

